{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-5 text-center" style="padding: 30px 30px; border: 1px solid #3A3B3A; border-radius: 10px;">
                <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
                <div class="form-outline mb-4">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Votre email">
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Votre mot de passe">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary" type="submit" style="background-color: #FFD121; color: #3A3B3A;">
                    Se connecter
                </button> 
            </div>
        </div>    
    </div>
</form>
{% endblock %}